package typography

templ Heading() {
	<h1 class="font-bold text-lg text-foreground items-center gap-1">{ children... }</h1>
}

templ SubHeading() {
	<h2 class={ "font-bold text-sm text-muted-foreground flex items-center gap-1" }>{ children... }</h2>
}


templ Paragraph(){
	<p class="text-foreground text-sm flex items-center gap-1">{ children... }</p>
}

templ Link(to string){
	<a href={ templ.URL(to) } class="underline font-bold hover:text-primary">{ children... }</a>
}
