package template

import (
	Base "elvinsavio/todo/views/pages/base"
)

templ Render() {
	@Base.BaseTemplate() {
		<div class="h-screen flex justify-center items-center">
			Create a new project
		</div>
	}
}
