package views

import (
	Base "elvinsavio/todo/views/pages/base"
)

templ NotFoundPage() {
	@Base.BaseTemplate() {
		<div class="flex items-center justify-center h-screen w-full flex-col gap-2">
			<h1 class="text-4xl">Page Not Found</h1>
				<button class="outline-button" onclick="history.back()">Go Back</button>
		</div>
		<div class="not-found-image"></div>
	}
}
