@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: hsl(151, 66%, 21%)
}

.spice-font {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}


@layer base {

    p {
        @apply text-sm
    }

    h1 {
        @apply text-base
    }

    label {
        @apply text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70
    }

    input, textarea {
        @apply flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50
    }

    input[type="submit"] {
        @apply w-full flex items-center gap-2 !no-underline whitespace-nowrap rounded-md text-sm font-medium focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 hover:px-4 py-2 transition-all
    }

    table {
        @apply border-collapse table-auto w-full text-sm m-2 rounded
    }

    table>thead {
        @apply mt-2 bg-card/90 sticky backdrop-blur-sm top-0 shadow-lg
    }

    table>thead>tr>th {
        @apply text-left p-1 py-2
    }

    table>tbody>tr {
        @apply bg-card border-t border-border
    }

    table>tbody>tr>td {
        @apply px-2 py-3
    }


}


/* links */
.landing-link {
    @apply relative flex items-center gap-2 hover:bg-black/40 rounded w-full py-1 hover:pl-2 transition-all
}

.landing-link::after {
    @apply absolute h-full w-0 rounded-full bg-primary left-0;
    content: "";
    transition: width linear 0.2s;
}

.landing-link:hover::after {
    width: 4px;
}

.list-link>li {
    @apply flex items-center justify-between gap-1
}


/* buttons */
.back-button {
    @apply flex items-center gap-2 w-max !no-underline whitespace-nowrap rounded-md text-sm font-medium focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 hover:px-4 py-2 transition-all
}

.icon-button {
    @apply p-1 rounded cursor-pointer hover:border hover:bg-card hover:border-border border border-transparent
}


/* dropdown menu */
.menu {
    @apply absolute p-1 border border-border bg-card rounded z-[999] w-max
}

.menu>ul>li {
    @apply hover:text-primary cursor-pointer hover:bg-black/30
}