@tailwind base;
@tailwind components;
@tailwind utilities;

.spice-font {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}


@layer base {
    p {
        @apply text-sm
    }
}