{% macro dropdown_menu(id, button_text, menu_items) %}
<div class="relative inline-block text-left">
  <div>
    <button
      type="button"
      class="inline-flex w-full justify-center gap-x-1.5 px-2 py-1 text-sm font-semibold hover:bg-black/20 active:bg-black/20"
      id="{{ id }}-button"
      aria-haspopup="true"
    >
      {{ button_text }}
    </button>
  </div>

  <div
    id="{{ id }}-menu"
    role="menu"
    aria-labelledby="{{ id }}-button"
    tabindex="-1"
    class="absolute bg-accent left-0 z-10 min-w-32 origin-top-left shadow-lg focus:outline-none opacity-0 invisible transition-opacity duration-200"
  >
    {% for item in menu_items %}
    <a
      target="{{ item.target }}"
      href="{{ item.href }}"
      class="block px-3 py-1 text-sm text-black hover:bg-black/20"
      role="menuitem"
      tabindex="-1"
      >{{ item.text }}</a
    >
    {% if not loop.last %}
    <div class="border-b border-black/25 mx-1"></div>
    {% endif %} {% endfor %}
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const menuButton = document.getElementById("{{ id }}-button");
    const dropdownMenu = document.getElementById("{{ id }}-menu");

    // Toggle visibility of dropdown menu on button click
    menuButton.addEventListener("click", function () {
      dropdownMenu.classList.toggle("opacity-0");
      dropdownMenu.classList.toggle("invisible");
      dropdownMenu.classList.toggle("opacity-100");
      dropdownMenu.classList.toggle("visible");
    });

    // Close dropdown when clicking outside
    document.addEventListener("click", function (event) {
      if (
        !menuButton.contains(event.target) &&
        !dropdownMenu.contains(event.target)
      ) {
        dropdownMenu.classList.add("opacity-0");
        dropdownMenu.classList.add("invisible");
        dropdownMenu.classList.remove("opacity-100");
        dropdownMenu.classList.remove("visible");
      }
    });
  });
</script>

{% endmacro %}
