@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1 {
    @apply text-xl;
  }

  h2 {
    @apply text-lg;
  }

  p {
    @apply text-sm
  }

  a {
    @apply text-sm hover:text-primary transition-all cursor-pointer hover:underline underline-offset-2
  }

  input {
    @apply rounded bg-background border-border border p-1 focus:border-primary focus:ring-0 !outline-none
  }

  button {
    @apply inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary/50 text-primary-foreground shadow hover:bg-primary h-9 px-4 py-2
  }
  
  ul {
    @apply list-disc
  }

  li {
    @apply text-sm
  }

  hr {
    @apply flex-grow border-border
  }

}

.container {
  @apply p-1
}

.card {
  @apply border border-border p-1 rounded
}

.separator-vertical {
  @apply h-auto w-[1px] bg-border shrink-0
}
.separator-horizontal {
  @apply w-auto h-[1px] bg-border shrink-0
}

.icon-link {
  @apply flex gap-1
}

.landing-image {
  @apply absolute bottom-0 left-0  h-[20%] w-full  bg-repeat-x -z-50;
  background-image: url("/images/bridges.png");
  background-size: contain;
  background-position: right 70px bottom 0px;
}

.outline-button {
  @apply bg-background border border-border hover:bg-white/10 
}

.not-found-image {
  @apply absolute bottom-0 left-0  h-screen w-full  bg-no-repeat -z-50;
  background-image: url("/images/404.png");
  background-size: contain;
  background-position: right 50% top 0px;
}
