@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-xl;
  }

  h2 {
    @apply text-lg;
  }

  p {
    @apply text-sm;
  }

  a {
    @apply text-sm hover:text-primary transition-all cursor-pointer hover:underline underline-offset-2;
  }

  input,
  textarea,
  select {
    @apply rounded bg-background border-border border p-2 focus:border-primary focus:ring-0 !outline-none;
  }


  button {
    @apply inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50  text-primary-foreground shadow h-9 px-4 py-2;
  }

  ul {
    @apply list-disc;
  }

  li {
    @apply text-sm;
  }

  hr {
    @apply flex-grow border-border;
  }

  table {
    @apply table-fixed max-h-[80vh] md:max-h-[60vh] max-w-[90vw] line-clamp-1 overflow-scroll;
  }

  th {
    @apply text-left  border-border p-1 sticky top-0 bg-muted;
  }

  td {
    @apply p-1 break-words truncate min-w-20;
  }

  tr {
    @apply border-b border-border  hover:bg-muted/20;
  }

  tbody {
    @apply overflow-x-scroll;
  }

  tbody > tr:last-child {
    @apply border-b-0;
  }

  tbody:last-child {
    @apply border-b-0;
  }
}

.container {
  @apply p-1;
}

.card {
  @apply border border-border p-1 rounded;
}

.separator-vertical {
  @apply h-auto w-[1px] bg-border shrink-0;
}
.separator-horizontal {
  @apply w-auto h-[1px] bg-border shrink-0;
}

.icon-link {
  @apply flex gap-1;
}

.landing-image {
  @apply absolute bottom-0 left-0  h-[20%] w-full  bg-repeat-x -z-50;
  background-image: url("/images/bridges.png");
  background-size: contain;
  background-position: right 70px bottom 0px;
}

.not-found-image {
  @apply absolute bottom-0 left-0  h-screen w-full  bg-no-repeat -z-50;
  background-image: url("/images/404.png");
  background-size: contain;
  background-position: right 50% top 0px;
}

/* Modal */

.modal {
  @apply absolute h-screen w-screen backdrop-blur flex items-center justify-center;
}

.modal-body {
  @apply bg-card p-3 border-border border rounded flex flex-col gap-2;
}

/* .modal-title {

} */

.modal-actions {
  @apply flex flex-row items-center justify-end gap-2;
}

/* End Modal */

/* Buttons */

a.outline-button {
  @apply no-underline p-2 rounded hover:text-foreground;
}

.outline-button {
  @apply bg-background border border-border hover:bg-white/10;
}

.icon-button {
  @apply p-2 bg-transparent hover:bg-muted rounded-full aspect-square;
}

.icon-button > svg {
  @apply group-hover:text-primary;
}

.warning-button {
  @apply border-dashed border border-yellow-500/60   hover:bg-white/10;
}

/* End Buttons */

/* Menu */

.menu {
  @apply flex flex-row gap-2 p-1 border-b border-border rounded;
}

.menu-title {
  @apply cursor-pointer hover:text-primary;
}

.menu-item {
  @apply relative text-base;
}

.menu-dropdown {
  @apply absolute left-0 top-7 w-max bg-background border-border border list-none;
}

.menu-dropdown > li {
  @apply hover:bg-muted p-1 cursor-pointer transition-all;
}

a.dropdown {
  @apply no-underline;
}
/* End Menu */

/* New Task */
.new-task-container {
  @apply flex flex-col sm:grid grid-cols-4 grid-rows-3 gap-2 md:max-w-[50%];
  grid-template-areas:
    "new-task-name new-task-name new-task-description new-task-description"
    "tag tag new-task-description new-task-description"
    "new-task-due new-task-due . . ";
}

.new-task-container > div > label {
  @apply flex flex-col;
}
.new-task-name {
  grid-area: new-task-name;
}
.new-task-description {
  grid-area: new-task-description;
}
.new-task-tag {
  grid-area: tag;
}
.new-task-due {
  grid-area: new-task-due;
}

/* New Task */
