package template

func getClass(orientation string) string {
	if orientation == "horizontal" {
		return "h-[1px] w-full "
	} else {
		return "w-[1px] h-auto "
	}
}

templ Divider(orientation string) {
	<div class={ getClass(orientation) + "shrink-0 bg-border" }></div>
}
